<div role="main">
  <div class="main hero">
    <div class="container">
        <div class="home_searchbar">
          {% block search %}
            {% snippet 'home/snippets/search.html' %}
          {% endblock %}
        </div>
        <div class="">
          <div class="module-content box">
            <div>
                <h1 class="page-heading">{{ _("ENAC data catalog") }}</h1>
                <p>This catalog regroups datasets coming from</p>
                <ul>
                  <li>
                    <a href="https://www.meteoswiss.admin.ch/home.html">MeteoSwiss</a><br>
                    <p>Current datasets are :</p>
                    <ul>
                      <li>Albedo</li>
                      <li>Clear Sky Index</li>
                      <li>Precipitation</li>
                      <li>Radiation</li>
                      <li>Sunshine Duration</li>
                      <li>Temperature</li>
                    </ul>
                  </li>
                  <li>
                    <a href="https://infoscience.epfl.ch/">Infoscience</a>
                    <br>
                    <p>All publications from ENAC marked as datasets in Infoscience are listed here</p>
                  </li>
                </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>